@charset "utf-8";

@media screen and (min-width: 720px) {
    .todoForm {
        & 
    }

    ul.todoLists {
        max-height: 160px;

        & li {
            & .modalWindow {
                & .modalWindowChild {
                    min-width: 400px;
                    gap: 2em;

                    & .editerIntoCtrlBtns {
                        width: 100%;
                    }
                }

                & .modalWindowChild_editabel {
                    & div.editTargetContent {
                        width: 40%;
                        margin-bottom: 0em;
                        border-right: 1px solid #dadada;
                        padding-right: 2.5em;
                        text-align: left;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1080px) {

    .todoForm,
    .todoLists .formBtns {
        font-size: 14px;
    }

    .todoLists .formBtns {
        line-height: 44px;
    }

    ul.todoLists {
        & li {
            & .modalWindow {
                & .modalWindowChild_editabel {
                    min-width: 800px;
                }
            }
        }
    }
}