/* swiper のスタイリングに関しては、@layer による優先度が低い影響から独自スタイルを設定したスタイルシートを用意 */
.SwiperLibsWrapper {
    & .swiper-pagination {
        top: -1.5em;
        height: fit-content;

        & .swiperPaginationChildrenWrapper {
            width: 100% !important;
            display: flex;
            gap: 1em;
            justify-content: flex-start;
            align-items: flex-start;
            flex-flow: row wrap;
        }

        & button {
            font-size: calc(100vw/44);
            width: fit-content;
            appearance: none;
            background: none;
            border-radius: 0;
            border-bottom: 3px solid transparent;
            display: block;
            text-align: left;
            padding: 0 0 1.5em 0;
            letter-spacing: 0.25em;
            margin: 0 !important;

            &.swiper-pagination-bullet-active {
                color: #1e6cd4;
                border-color: #1e6cd4;
            }
        }
    }

    & .swiper-wrapper {
        padding-top: 2.5em;
    }
}


@media screen and (min-width: 700px) {
    .SwiperLibsWrapper {
        & .swiper-pagination {
            top: -1em;

            & .swiperPaginationChildrenWrapper {
                gap: .5em;

                & button {
                    font-size: 14px;
                }
            }
        }
    }
}

@media screen and (min-width: 1025px) {
    .SwiperLibsWrapper {
        & .swiper-pagination {
            top: 0;

            & .swiperPaginationChildrenWrapper {
                gap: 1em;
            }
        }
    }
}